<div class="collection">
  <%= link_to "users", admin_users_path ,class:"collection-item" %>
  <%= link_to "schools", admin_schools_path ,class:"collection-item" %>
  <%= link_to "faculties", admin_faculties_path ,class:"collection-item" %>
  <%= link_to "departments", admin_departments_path ,class:"collection-item" %>
  <%= link_to "courses", admin_courses_path ,class:"collection-item" %>
  <%= link_to "textbooks", admin_textbooks_path ,class:"collection-item" %>
  <%= link_to "items", admin_items_path ,class:"collection-item" %>
</div>
<img src="https://books.google.co.jp/books/content?id=zhXVPAAACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73zIFRsEkN63lwxTSuIA4peSwQkwplA0etoVpT5Q7TY7vi_oCNSkhH1U-kjx1MtXyFDDKmf3Tk8t2WZBfD90OcRlIHKlXsKvpGzImy6loP4Wkqf7e11C5pkFSjD3j9ygrqbxXyD">
