<% provide :header, "やり取り画面" %>
<div class="row">
  <div class="col l6 hide-on-med-and-down con_img">
    <div class="center-align">
      <%= image_tag('icon.jpg', { size: "300x300", alt: 'アイコン'}) %>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="row Message__top">
      <div class="col s12 m12 l12">
        <ul class="collection Message__top-nice">
          <div class="m-left">
            <li class="collection-item avatar">
              <%= image_tag("icon.png", class:"circle") %>
              <span class="title"><%= user_name(@contract) %>さん</span>
              <p><%= @contract.item.name %><br>
                <%= @contract.item.price %>円
              </p>
            </li>
          </div>
          <div class="m-right">
            <li class="collection-item">
              <%= link_to "詳細", item_path(@contract.item) %>
              <%= link_to "完了", contract_path(@contract.item.id), method: :patch, class:"waves-effect waves-light btn #{ complete_status(@contract)} " %>
            </li>
          </div>
        </ul>
      </div>

    </div>
    <div class="row Message__middle">
      <div class="col s12 m12 l12  Message__body">
        <ul id="message_ul">
          <%= render 'body' %>
        </ul>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>
