<%= form_for(@user) do |f|%>
    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name, class:"validate" %>
    </div>

    <div class="input-field" id="school_form">
      <%= f.collection_select :school_id, School.all, :id, :name, :prompt => "選択してください" %>
      <label>大学を選択してください。</label>
    </div>

    <div class="input-field" id="faculty_form">
      <%= render partial: 'faculties', locals: { school_id: School.first.id } %>
      <label>学部を選択してください。</label>
    </div>

    <div class="input-field" id="department_form">
      <%= render partial: 'departments', locals: { faculty_id: Faculty.first.id} %>
      <label>学科を選択してください。</label>
    </div>
    <div class="input-field1">
      <label for="price">学年</label>
      <div class="col s12">
        <%= f.radio_button :grade, 1, class:"with-gap" %><%= f.label :grade_1, "1年" %>
        <%= f.radio_button :grade, 2, class:"with-gap" %><%= f.label :grade_2, "2年" %>
        <%= f.radio_button :grade, 3, class:"with-gap" %><%= f.label :grade_3, "3年" %>
        <%= f.radio_button :grade, 4, class:"with-gap" %><%= f.label :grade_4, "4年" %>
      </div>
    </div>

    <div class="input-field col s12 l12 m12">
      <select class="icons" name="user[imagee]">
        <option value="" disabled selected>アイコンを選択してください</option>
        <option value="0" data-icon="/assets/icon-03c8c8f841ce6d2057de263b3152c18247d0ec7e83fe6b634bdb9823bef0cc84.jpg" class="left circle">ノーマル</option>
        <option value="1" data-icon="/assets/hoshimo-0e27a085d41b8b7f8bcf2e7a1ec616f7b46788a9b9696a30546a87faee03372b.png" class="left circle">干し芋</option>
        <option value="2" data-icon="/assets/satu-9f21c279b755e1b022ff1951738c5acc5730af3a66201a78781dae271e19e600.jpg" class="left circle">さつまいも</option>
        <option value="3" data-icon="/assets/dansyaku-798b86d1132da215887e733be7ea67b41d3b60a58e082861688dd299f8c6fe41.jpg" class="left circle">男爵いも</option>
        <option value="4" data-icon="/assets/jagabata-6c3d73a311be9361cda289543fd13de0cefec67fc49735684c50cebccf776d5e.png" class="left circle">じゃがバター</option>
      </select>
      <label>Images in select</label>
    </div>

    <%= f.hidden_field :faculty_id %>
    <%= f.hidden_field :department_id %>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
<% end %>
