<%= form_for(@user) do |f|%>
    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name, class:"validate" %>
    </div>

    <div class="input-field" id="school_form">
      <%= f.collection_select :school_id, School.all, :id, :name, :prompt => "選択してください" %>
      <label>大学を選択してください。</label>
    </div>

    <div class="input-field" id="faculty_form">
      <%= render partial: 'faculties', locals: { school_id: School.first.id } %>
      <label>学部を選択してください。</label>
    </div>

    <div class="input-field" id="department_form">
      <%= render partial: 'departments', locals: { faculty_id: Faculty.first.id} %>
      <label>学科を選択してください。</label>
    </div>
    <div class="input-field1">
      <label for="price">学年</label>
      <div class="col s12">
        <%= f.radio_button :grade, 1, class:"with-gap" %><%= f.label :grade_1, "1年" %>
        <%= f.radio_button :grade, 2, class:"with-gap" %><%= f.label :grade_2, "2年" %>
        <%= f.radio_button :grade, 3, class:"with-gap" %><%= f.label :grade_3, "3年" %>
        <%= f.radio_button :grade, 4, class:"with-gap" %><%= f.label :grade_4, "4年" %>
      </div>
    </div>

    <div class="input-field col s12 l12 m12">
      <select class="icons" name="user[imagee]">
        <option value="" disabled selected>アイコンを選択してください</option>
        <option value="0" data-icon="/assets/icon-03c8c8f841ce6d2057de263b3152c18247d0ec7e83fe6b634bdb9823bef0cc84.jpg" class="left circle">ノーマル</option>
        <option value="1" data-icon="/assets/hoshimo-a3d12c98bc94486a36565d11f32d7d09fbdeacd1a4875ce1857b725541c450ec.png" class="left circle">干し芋</option>
        <option value="2" data-icon="/assets/satu-bfd548c257c5fc148f675a21ce272e1906384399fa1ef6f5c86fa6e993d19c0f.jpg" class="left circle">さつまいも</option>
        <option value="3" data-icon="/assets/dansyaku-09e0d9b73a90a5213d4def66ce2ed1c1059297a49491a422442b0c03c2186333.jpg" class="left circle">男爵いも</option>
        <option value="4" data-icon="/assets/jagabata-f2b0f236d490e61897e0d473fa00ed30fd41d3b0eafa0b8020b8553bc1ba5a21.png" class="left circle">じゃがバター</option>
      </select>
      <label>Images in select</label>
    </div>

    <%= f.hidden_field :faculty_id %>
    <%= f.hidden_field :department_id %>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
<% end %>
