<%= form_for(@user) do |f|%>
    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name, class:"validate" %>
    </div>
    <div class="input-field" id="school_form">
      <%= f.collection_select :school_id, School.all, :id, :name, :prompt => "選択してください" %>
      <label>大学を選択してください。</label>
    </div>
    <div class="input-field" id="school_form">
      <%= collection_select_tag :faculty_id, Faculty.all, :id, :name, :prompt => "" %>
      <label></label>
    </div>

    <div class="input-field" id="faculty_form">
      <%= render partial: 'faculties', locals: { school_id: School.first.id } %>
      <label>学部を選択してください。</label>
    </div>

    <div class="input-field" id="department_form">
      <%= render partial: 'departments', locals: { faculty_id: Faculty.first.id} %>
      <label>学科を選択してください。</label>
    </div>
    <div class="input-field1">
      <label for="price">学年</label>
      <div class="col s12">
        <%= f.radio_button :grade, 1, class:"with-gap" %><%= f.label :grade_1, "1年" %>
        <%= f.radio_button :grade, 2, class:"with-gap" %><%= f.label :grade_2, "2年" %>
        <%= f.radio_button :grade, 3, class:"with-gap" %><%= f.label :grade_3, "3年" %>
        <%= f.radio_button :grade, 4, class:"with-gap" %><%= f.label :grade_4, "4年" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <%= f.hidden_field :faculty_id %>
    <%= f.hidden_field :department_id %>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
<% end %>
