<% courses.each do |course| %>
  <% course.textbooks.each do |text_book| %>
    <div clss="row">
      <div class="col s12 m12 l<%= size %> Course__show__item_show <% if size == 6 %><% end %> hoverable">
        <div class="Course__show">
          <h5 class="truncate"><%= course.name %>　　
            <span class="right-align"><i class="material-icons">event_note</i><% if course.period_i18n == "その他" %>その他<% else %><%= course.day_i18n[0] %><%= course.period_i18n[0] %><% end %></span></h5>
          <hr>
          <div class="row">
            <div class="col s12 m3 l3 Course__show__item_show--img">
              <thead></thead>
              <div class="row">
                <div class="col m12 l12 s12">
                  <div class="center-align">
                    <%= image_tag("#{text_book.thumbnail == "none" ? "textbook.jpg" : text_book.thumbnail }", class: "text-img-#{size}") %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6 m12 l12 hide-on-small-only">
                    <%= link_to "出品", new_textbook_item_path(text_book.id, item_type: 0), class:"waves-effect waves-light btn bbtn" %>
                    <%= link_to "求む", new_textbook_item_path(text_book.id, item_type: 1), class:"waves-effect waves-light btn amber bbtn"%>
                </div>
              </div>
            </div>
            <div class="col s12 m9 l9 Course__show__item_show--description">
              <table class="bordered truncate">
                <thead></thead>
                <tbody>
                  <tr>
                  <th>書籍名</th>
                  <td><%= text_book.name %></td>
                  </tr>
                  <tr>
                  <th>著者</th>
                  <td><%= text_book.author %></td>
                  </tr>
                  <tr>
                  <th>詳細</th>
                  <td><%= text_book.explanation %></td>
                  </tr>
                  <!-- <tr> -->
                  <!-- <th>出品平均価格</th> -->
                  <!-- <td>Comming soon!</td> -->
                  <!-- <td><%# items.inject(0){|r, i| r+=i.price}/items.size %>円</td> -->
                  <!-- </tr> -->
                  <tr>
                  <th>Amazon</th>
                  <td><%= link_to "ページに飛ぶ", "https://www.amazon.co.jp/s/ref=sr_nr_n_0?fst=as%3Aoff&keywords=#{text_book.name}+#{text_book.publisher}&ie=UTF8&qid=1491317462&rnid=2321267051", target: ["_blank"]  %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row hide-on-med-and-up">
            <div class="col s12 hide-on-med-and-up">
                <%= link_to "出品", new_textbook_item_path(text_book.id, item_type: 0), class:"waves-effect waves-light btn bbtn" %>
                <%= link_to "求む", new_textbook_item_path(text_book.id, item_type: 1), class:"waves-effect waves-light btn amber bbtn"%>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l12 Course__show__item_show--list">
              <div class="col s12">
                <% text_book.items.each do |item| %>
                <div class="collection">
                  <%= link_to item_path(item), class:"collection-item" do %>
                    <%= item.price%>円
                    <%= item_tag(item) %>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
             <%= back_link(course) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
