<% courses.each do |course| %>
  <% course.textbooks.each do |text_book| %>
    <div clss="row">
      <div class="col s6 m12 l<%= size %> Course__show__item_show <% if size == 6 %><% end %> hoverable">
        <div class="course__show">
          <h6 class="truncate"><%= course.faculty.name %>/<% if course.period_i18n == "その他" %>その他<% else %><%= course.day_i18n[0] %><%= course.period_i18n[0] %><% end %>
          </h6>
          <p class="truncate amber-text text-darken-1 cource__name"><%= course.name %>　　
            <span class="right-align"></span>
          </p>
          <p class="truncate cource__name"><%= text_book.name %></p>
          <hr>
          <div class="row">
            <div class="col s12 m3 l12 Course__show__item_show--img">
              <thead></thead>
              <div class="row">
                <div class="col m12 l3 s12">
                  <div class="center-align">
                    <%= image_tag("#{text_book.thumbnail == "none" ? "no_img.png" : text_book.thumbnail }", class: "text-img-#{size}") %>
                  </div>
                </div>
                <div class="col m12 l6 hide-on-small-only">
                    <%= link_to "出品", new_textbook_item_path(text_book.id, item_type: 0), class:"waves-effect waves-light btn bbtn" %>
                    <%= link_to "求む", new_textbook_item_path(text_book.id, item_type: 1), class:"waves-effect waves-light btn amber bbtn"%>
                    <%= link_to "詳細", course_path(course.id), class:"waves-effect waves-light btn bbtn white blue-text text-darken-2" %>
                    <% if course.items.count == 0 %>
                      <p class="right">未出品</p>
                    <% else %>
                      <%= link_to "#{course.items.count}出品", course_path(course.id), class:"blue-text text-darken-2 right" %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="row hide-on-med-and-up">
            <div class="col s12 hide-on-med-and-up">
                <%= link_to "出品", new_textbook_item_path(text_book.id, item_type: 0), class:"waves-effect waves-light btn bbtn" %>
                <%= link_to "求む", new_textbook_item_path(text_book.id, item_type: 1), class:"waves-effect waves-light btn amber bbtn"%>
                <%= link_to "詳細", course_path(course.id), class:"waves-effect waves-light btn bbtn white blue-text text-darken-2" %>
                <% if course.items.count == 0 %>
                  <p class="right">未出品</p>
                <% else %>
                  <p class="blue-text text-darken-2 right"><%= course.items.count %>出品</p>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
