<li>
  <div class="nav__list--empty "></div>
</li>
<li><div class="divider"></div></li>
<li>
  <%= link_to "やり取りリスト", contract_list_users_path %>
</li>
<li>
  <%= link_to "出品リスト", sold_list_users_path %>
</li>
<li>
  <%= link_to "購入リスト", bought_list_users_path %>
</li>
<li>
  <%= link_to "購入希望リスト", hope_list_users_path %>
</li>
<li>
  <%= link_to "プロフィール", user_path(current_user) %>
</li>
