<% course.textbooks.each do |text_book| %>
<div clss="row">
  <div class="col s12 m12 l<%= size %> Course__show__item_show <% if size == 6 %><% end %>">
    <div class="Course__show">
      <h6 class="truncate"><%= course.faculty.name %>/<%= course.day_i18n %>/<%= course.period_i18n %>
      </h6>
      <h4 class="truncate amber-text text-darken-1 Course__show__item_show__name"><%= course.name %></h4>
      <hr>
      <div class="row">
        <div class="col s12 m3 l3 Course__show__item_show--img">
          <thead></thead>
          <div class="center">
            <%= image_tag("#{text_book.thumbnail == "none" ? "no_img.png" : text_book.thumbnail }", class: "text-img-#{size}") %>
          </div>
          <div class="center">
            <%= link_to "出品", new_textbook_item_path(text_book.id, item_type: 0), class:"waves-effect waves-light btn " %>
            <%= link_to "求む", new_textbook_item_path(text_book.id, item_type: 1), class:"waves-effect waves-light btn amber"%>
          </div>
        </div>
        <div class="col s12 m9 l9 Course__show__item_show--description">
          <table class="bordered truncate">
            <thead></thead>
            <tbody>
              <tr>
              <th>書籍名</th>
              <td><%= text_book.name %></td>
              </tr>
              <tr>
              <th>著者</th>
              <td><%= text_book.author %></td>
              </tr>
              <tr>
              <th>詳細</th>
              <td><div class="scroll"><%= text_book.explanation %></div></td>
              </tr>
              <tr>
              <th>Amazon</th>
              <td><%= link_to "ページに飛ぶ", "https://www.amazon.co.jp/s/ref=sr_nr_n_0?fst=as%3Aoff&keywords=#{text_book.name}+#{text_book.publisher}&ie=UTF8&qid=1491317462&rnid=2321267051", target: ["_blank"] %></td>
              </tr>
            </tbody>
          </table>
          <div class="right-align">
            <p>by Google Books</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 Course__show__item_show--list">
          <div class="col s12">
            <% text_book.items.each do |item| %>
            <div class="collection">
              <%= link_to item_path(item), class:"collection-item" do %>
              <%= render partial: "show_price", locals: {item: item} %>
              <%= item_tag(item) %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
         <%# back_link(course) %>
         <%= link_to "戻る", :back, class:"back_link waves-effect waves-light btn white blue-text text-darken-2" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%# if current_page?(controller: "course", action: "index") %>
