<%= form_for([textbook, item]) do |f| %>
    <div class="input-field col s12 form_field">　
      <%= f.text_field :name, disabled: "true"%>
      <%= f.label :name, html: {class: "Form__label"} %>
    </div>
    <div class="input-field col s12">
      <%= f.select :price, [["無料で譲る", "0"], ["500円", "500"], ["1000円", "1000"], ["1500円", "1500"], ["2000円", "2000"]], :prompt => "選択してください" %>
      <label class="Form__label">値段</label>
     </div>
    <div class="input-field col s12">
      <%= f.select :status, Item.statuses_i18n.invert, :prompt => "選択してください" %>
      <label class="Form__label">状態</label>
    </div>
    <div class="input-field col s12">
      <%= f.select :delivery, Item.deliveries_i18n.invert, :prompt => "選択してください" %>
      <label class="Form__label">取引方法</label>
    </div>
    <% if action_name == "edit" %>
      <div class="switch">
        <label class="Form__label">
          非公開
          <%= f.check_box :published %>
          <span class="lever"></span>
          公開
        </label>
      </div>
    <% end %>
  <%= f.hidden_field :course_id %>
  <%= f.hidden_field :textbook_id %>
  <%= f.hidden_field :item_type, value: item.item_type %>
  <% if user_signed_in?%>
    <%= f.submit "#{controller.action_name == "edit" ? "update" : "create"}", class:"waves-effect waves-light btn", data:{disable_with: "通信中"} %>
  <% else %>
    <div class="btn user_unlogin">出品</div>
    <div id="user_modal" class="modal">
      <div class="modal-content">
        <h4>出品するためにはログイン/会員登録が必要です。</h4>
        <p>Googleアカウントでログイン</p>
      </div>
      <div class="valign center Home__login_btn">
        <div id="social-icon"class="clear">
          <%= link_to user_google_oauth2_omniauth_authorize_path do %>
            <i class="fa fa-google fa-lg"></i>大学メールでログイン
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <p class="btn modal_close-u"></p>
      </div>
    </div>
  <% end %>
<% end %>
