<div class="row">
  <div class="col s6 l6">
    <h4>出品一欄</h4>
    <h5><%= @textbook.name %></h5>
    <% @items.each do |item| %>
    <div class="collection">
      <%= link_to item_path(item), class:"collection-item" do %>
      <%= item.price%>円
      <%= item_tag(item) %>
      <% end %>
    </div>
    <% end %>
    <%= link_to "授業詳細に戻る", course_path(@textbook.course.id) %>
  </div>
</div>
